<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ClinicBase">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=KoHo:wght@400;600;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="../public/fonts/icomoon/style.css">
	<link rel="stylesheet" href="../public/fonts/flaticon/font/flaticon.css">

	<link rel="stylesheet" href="../public/css/tiny-slider.css">
	<link rel="stylesheet" href="../public/css/aos.css">
	<link rel="stylesheet" href="../public/css/flatpickr.min.css">
	<link rel="stylesheet" href="../public/css/glightbox.min.css">
	<link rel="stylesheet" href="../public/css/style.css">


	<title>ClinicBase &mdash; ClinicBase</title>
</head>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav mt-3 clearfix">
		<div class="container">
			<div class="site-navigation">
				<a href="index.ejs" class="logo m-0 float-start">ClinicBase</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-start">
					<li class="active"><a href="index.ejs">Home</a></li>
					<li><a href="about.ejs">About us</a></li>
					<li class="has-children">
						<a href="#">DashBoard</a>
						<ul class="dropdown">
							<li class="has-children">
								<li><a href="login.ejs">Login</a></li>
								<li><a href="register_clinic.ejs">Register</a></li>
							
							</li>
						</ul>
					</li>
					<li><a href="services.ejs">Services</a></li>
					<li><a href="blog.ejs">Blog</a></li>
					<li><a href="contact.ejs">Contact us</a></li>
					
				</ul>

				<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu float-end">
					<li class="cta-button"><a href="contact.ejs">Register With Us</a></li>
				</ul>
				<ul class="js-clone-nav d-none d-lg-inline-block text-end site-menu float-end">
					<li class="cta-button"><a href="login.ejs">Login</a></li>
				</ul>

				<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>


	<div class="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 h-100">
					<div class="masthead" data-aos="fade-up" data-aos-delay="">
						<h1>ClinicBase is a user-friendly database management system</h1>
						<p class="mb-5">We streamline daily clinical operations by providing user-friendly department-specific dashboards for patient record management and medical data retrieval</p>
						<p>
							<a href="#" class="btn btn-primary me-4">Get in touch</a>
							<a href="#">Learn more</a>
						</p>
					</div>
				</div>		
				<div class="col-lg-7"  data-aos="fade-up" data-aos-delay="100">
					<div class="video-img-wrap">
						<a href="https://www.youtube.com/watch?v=mwtbEGNABWU" class="video-play-btn glightbox3">
							<span class="icon-play"></span>
						</a>
						<img src="../public/images/hero-img-min.png" alt="Image" class="img-fluid">
					</div>
				</div>
			</div>		
		</div>		
	</div>

	<div class="container mb-5"  data-aos="fade-up" data-aos-delay="200">
		<div class="social-inline">
			<ul class="list-unstyled d-inline-flex">
				<li class="me-4"><a href="#" class="d-flex align-items-center"><span class="icon-facebook me-3"></span><span>Facebook</span></a></li>
				<li class="me-4"><a href="#" class="d-flex align-items-center"><span class="icon-twitter me-3"></span><span>Twitter</span></a></li>
				<li class="me-4"><a href="#" class="d-flex align-items-center"><span class="icon-instagram me-3"></span><span>Instagram</span></a></li>
			</ul>
		</div>
	</div>


	<div class="section services-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-5"  data-aos="fade-up" data-aos-delay="">
					<h3 class="subheading">Services</h3>
					<h2 class="heading">Cutting edge features to suit modern clinics</h2>
				</div>		
			</div>	

			<div class="row g-5">
				<div class="col-lg-4"  data-aos="fade-up" data-aos-delay="">

					<div class="feature-1 d-block">
						<div class="mb-3">
							<span class="hex color-1 mb-3">
								<i class="flaticon-bacteria-1"></i>
							</span>
						</div>
						<div>
							<h3>Authenticated Access</h3>
							<p>We provide authenticated access to created users seamlessly maintained throughout the duration of their interaction. Only legitimate users can interact with sensitive resources on the application</p>
						</div>
					</div>
					
				</div>
				<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
					<div class="feature-1 d-block">
						<div class="mb-3">
							<span class="hex color-2 mb-3">
								<i class="flaticon-lungs"></i>
							</span>
						</div>
						<div>
							<h3>Dynamic Dashboards</h3>
							<p>We have interactive and real-time graphical user interfaces that display and visualize data dynamically for a unique user experience. Dashboards are designed to meet the needs of modern clinics.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
					<div class="feature-1 d-block">
						<div class="mb-3">
							<span class="hex color-3 mb-3">
								<i class="flaticon-bacteria"></i>
							</span>
						</div>
						<div>
							<h3>Realtime Responsiveness</h3>
							<p>Platform is designed to be responsive, adapting to different screen sizes and devices. Responsive design ensures a consistent and user-friendly experience across desktops, tablets, and mobile devices.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4" data-aos="fade-up" data-aos-delay="">

					<div class="feature-1 d-block">
						<div class="mb-3">
							<span class="hex color-4 mb-3">
								<i class="flaticon-test-tubes"></i>
							</span>
						</div>
						<div>
							<h3>Workforce Management</h3>
							<p>Oversee and optimize the performance, access, and development of your workforce. Manage employee lifecycle, from recruitment and onboarding to ongoing performance management and professional development</p>
						</div>
					</div>
					
				</div>
				<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
					<div class="feature-1 d-block">
						<div class="mb-3">
							<span class="hex color-5 mb-3">
								<i class="flaticon-vaccine"></i>
							</span>
						</div>
						<div>
							<h3>Inventory Records</h3>
							<p>Keep a detailed and organized information about the stock of drugs or products that your clinic holds at a specific point in time. Maintain accurate and up-to-date inventory records to efficiently manage your supply chain, and track product availability.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
					<div class="feature-1 d-block">
						<div class="mb-3">
							<span class="hex color-6 mb-3">
								<i class="flaticon-mask"></i>
							</span>
						</div>
						<div>
							<h3>Case Metrics</h3>
							<p>We provide quantitative measurements used to assess various aspects of patient cases within clinics. Track the length of stay, patient and case numbers, analyze patient records and make data driven decisions on the go</p>
						</div>
					</div>
				</div>
			</div>	
		</div>		
	</div>

	<div class="section sec-2 pt-0 ">
		<div class="container">
			<div class="row g-4 overlap">
				<div class="col-lg-4">
					<div class="custom-card">
						<img src="../public/images/gal_1.jpg" alt="" class="img-fluid">
						<div class="custom-card-body">
							<h3>Eye Clinics</h3>
							<p>Have control over how you obtain and keep visual acuity test, refraction, intraocular pressure, pupil and fundus examination, perimetry, colour vision, cover test, stereopsis test, anterior and posterior segment examinations, keratometry, patient ocular and medical history, diagnosis, treatments given, lens prescription and many more.</p>

							<!-- <ul class="list-unstyled ul-check mb-4">
								<li>Deserunt harum incidunt </li>
								<li>Ex nesciunt est temporibus ipsum</li>
								<li>Vel rem eveniet facere et velit sunt</li>
								<li>Aspernatur eaque quis</li>
								<li>Dolorem magnam quisquam? Facere</li>
							</ul> -->

							<p><a href="#" class="btn btn-primary">Get started</a></p>
						</div>	
					</div>

				</div>
				<div class="col-lg-4">
					<div class="custom-card">
						<img src="../public/images/gal_2.jpg" alt="" class="img-fluid">
						<div class="custom-card-body">
							<h3>Dental Clinics</h3>
							<p>Streamline how to carry out and record oral examinations, X-rays, periodontal assessment, dental charting, bite and jaw evaluations, soft tissue examination, medical and dental history reviews, oral cancer screening,amongst others with ease.</p>

							<!-- <ul class="list-unstyled ul-check mb-4">
								<li>Deserunt harum incidunt </li>
								<li>Ex nesciunt est temporibus ipsum</li>
								<li>Vel rem eveniet facere et velit sunt</li>
								<li>Aspernatur eaque quis</li>
								<li>Dolorem magnam quisquam? Facere</li>
							</ul> -->

							<p><a href="#" class="btn btn-primary">Get started</a></p>
						</div>	
					</div>
				</div>
				<div class="col-lg-4">
					<div class="custom-card">
						<img src="../public/images/gal_3.jpg" alt="" class="img-fluid">
						<div class="custom-card-body">
							<h3>ENT Clinics</h3>
							<p>Worried about how to record otoscopy, audiometry, tympanometry, otoacoustic emissions, Auditory Brainstem Response, electrocochleography, vestibular function tests, nasal endoscopy, throat examination, flexible laryngoscopy, fiberoptic nasopharyngolaryngoscopy, tonsil and adenoid nasal, septum and turbinate evaluations? We have got you sorted</p>

							<!-- <ul class="list-unstyled ul-check mb-4">
								<li>Deserunt harum incidunt </li>
								<li>Ex nesciunt est temporibus ipsum</li>
								<li>Vel rem eveniet facere et velit sunt</li>
								<li>Aspernatur eaque quis</li>
								<li>Dolorem magnam quisquam? Facere</li>
							</ul> -->

							<p><a href="#" class="btn btn-primary">Get started</a></p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section sec-3 pt-0 section-counter">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="counter">
						<span class="countup">12582182</span>
						<span class="caption">Total Infected</span>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="counter">
						<span class="countup">391</span>
						<span class="caption">Total Volunteer</span>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="counter">
						<span class="countup">3321</span>
						<span class="caption">Medical Doctors</span>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="counter">
						<span class="countup">9818</span>
						<span class="caption">Facilities</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 mb-5 mb-lg-0 me-auto testimonial-wrap" data-aos="fade-up" data-aos-delay="0">
					<h3 class="subheading">Testimonials</h3>
					<h2 class="heading mb-5">Reviews from clients...</h2>

					<div class="wide-slider-testimonial-wrap">

						<div class="wide-slider-testimonial">
							<div class="item">
								<blockquote class="block-testimonial">
									<div class="author">
										<img src="../public/images/person_1.jpg" alt="Free template by TemplateUX">
										<h3>Sylvester Kyeremeh</h3>
										<p class="position mb-5">CEO, Optimum Vision</p>
									</div>
									<p>
										<div class="quote">&ldquo;</div>
									&ldquo;Certainly, by far the best application my facility has used in years since our establishment.&rdquo;</p>
								</blockquote>
							</div>

							<div class="item">
								<blockquote class="block-testimonial">
									<div class="author">
										<img src="../public/images/person_2.jpg" alt="Free template by TemplateUX">
										<h3>Kofi Osei-Poku</h3>
										<p class="position mb-5">Administrator at Specs and Conts</p>
									</div>
									<p>
										<div class="quote">&ldquo;</div>
									&ldquo;Clinic base is worth every dime!!. I literally automate my clinical activities within minutes. Patient flow is at its smoothest point.&rdquo;</p>

								</blockquote>
							</div>

							<div class="item">
								<blockquote class="block-testimonial">
									<div class="author">
										<img src="../public/images/person_3.jpg" alt="Free template by TemplateUX">
										<h3>Merlene Asamoah</h3>
										<p class="position mb-5">Principal Optometrist at Hwe Mani</p>
									</div>
									<p>
										<div class="quote">&ldquo;</div>
									&ldquo;Easy and convenient to use. I love simplicity. I love ClinicBase.&rdquo;</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>


				

				<div class="col-lg-6 mt-4 mt-lg-0"  data-aos="fade-up" data-aos-delay="100">
					<h3 class="subheading">Frequently Asked Questions</h3>
					<h2 class="heading mb-5">FAQ ClinicBase</h2>

					<div class="custom-accordion" id="accordion_1">
						<div class="accordion-item">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Where is data store?</button>
							</h2>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion_1">
								<div class="accordion-body">
									ClinicBase database can be set up on a local server or host on cloud services. Both will be set up when purchase is made.
								</div>
							</div>
						</div> <!-- .accordion-item -->

						<div class="accordion-item">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How to create your clinic account?</button>
							</h2>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion_1">
								<div class="accordion-body">
									Click the Register with us button and fill the corresponding form.
								</div>
							</div>
						</div> <!-- .accordion-item -->
						<div class="accordion-item">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to link your paypal and bank account?</button>
							</h2>

							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion_1">
								<div class="accordion-body">
									Head to payment section when free trial time has elapsed. Choose a payment plan that suits your clinic and follow the prompts accordingly.
								</div>
							</div>

						</div> <!-- .accordion-item -->


						<div class="accordion-item">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">So why choose us?</button>
							</h2>

							<div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion_1">
								<div class="accordion-body">
									ClinicBase is the next level database management system on the market. We continue to churn out great features that will keep your clinical activities seamless. 
								</div>
							</div>

						</div> <!-- .accordion-item -->

					</div>
				</div>
			</div>
		</div> <!-- .container -->
	</div> <!-- /.ClinicBase-section -->


	<div class="container">
		<div class="bg-img-2 overlay d-flex justify-content-center align-items-center" style="background-image: url('images/gal_2.jpg');">
			<div class="intro ">
				<h2 class="mb-3">Join us revolutionalize clincal work</h2>
				<p><a href="#" class="btn btn-primary">Get in touch</a></p>
			</div>
		</div>
	</div>


	<div class="section">
		<div class="container">

			<div class="row mb-5">
				<div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
					<span class="subheading mb-3">Blog</span>
					<h2 class="heading">Recent Posts</h2>
				</div>
			</div>
			<div class="row align-items-stretch">
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
					<div class="media-entry">
						<a href="single.ejs" class="thumb">
							<img src="../public/images/gal_1.jpg" alt="Image" class="img-fluid">
						</a>
						<div class="bg-white m-body">
							<span class="date">May 14, 2020</span>
							<h3><a href="single.ejs">Far far away, behind the word mountains</a></h3>
							<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

							<a href="single.ejs" class="more d-flex align-items-center float-start">
								<span class="label">Read More</span>
								<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
					<div class="media-entry">
						<a href="single.ejs" class="thumb">
							<img src="../public/images/gal_2.jpg" alt="Image" class="img-fluid">
						</a>
						<div class="bg-white m-body">
							<span class="date">May 14, 2020</span>
							<h3><a href="single.ejs">Far far away, behind the word mountains</a></h3>
							<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

							<a href="single.ejs" class="more d-flex align-items-center float-start">
								<span class="label">Read More</span>
								<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
					<div class="media-entry">
						<a href="single.ejs" class="thumb">
							<img src="../public/images/gal_3.jpg" alt="Image" class="img-fluid">
						</a>
						<div class="bg-white m-body">
							<span class="date">May 14, 2020</span>
							<h3><a href="single.ejs">Far far away, behind the word mountains</a></h3>
							<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
							<a href="single.ejs" class="more d-flex align-items-center float-start">
								<span class="label">Read More</span>
								<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
					<div class="media-entry">
						<a href="single.ejs" class="thumb">
							<img src="../public/images/gal_4.jpg" alt="Image" class="img-fluid">
						</a>
						<div class="bg-white m-body">
							<span class="date">May 14, 2020</span>
							<h3><a href="single.ejs">Far far away, behind the word mountains</a></h3>
							<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
							<a href="single.ejs" class="more d-flex align-items-center float-start">
								<span class="label">Read More</span>
								<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
							</a>
						</div>
					</div>
				</div>
			</div>	
		</div>		
	</div>


	<div class="site-footer">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h3>About</h3>
						<p>ClinicBase is a medical/health web application designed to streamline daily operations in clinical settings by providing user-friendly department-specific dashboards for patient record management and medical data retrieval.</p>
					</div> <!-- /.widget -->
					<div class="widget">
						<h3>Connect</h3>
						<ul class="list-unstyled social">
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-pinterest"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2 ml-auto">
					<div class="widget">
						<h3>Links</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="about.ejs">About us</a></li>
							<li><a href="services.ejs">Services</a></li>
							<li><a href="blog.ejs">Blog</a></li>
							<li><a href="index.ejs">Home</a></li>
							<li><a href="contact.ejs">Contact</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2">
					<div class="widget">
						<h3>Partners</h3>
						<ul class="list-unstyled float-left links">
							<li>NHIS</li>
							<li>Vodafone</li>
							<li>Kofi Labs</li>
							<li>Glico</li>
							<li>SyncMaster</li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->


				<div class="col-lg-3">
					<div class="widget">
						<h3>Contact</h3>
						<address>Kasoa, Ghana</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
							<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
							<li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="index.ejs">ClinicBase</a>
					</p>

				</div>
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.site-footer -->

	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>


	<script src="../public/js/bootstrap.bundle.min.js"></script>
	<script src="../public/js/tiny-slider.js"></script>
	<script src="../public/js/aos.js"></script>
	<script src="../public/js/navbar.js"></script>
	<script src="../public/js/counter.js"></script>
	<script src="../public/js/flatpickr.js"></script>
	<script src="../public/js/glightbox.min.js"></script>
	<script src="../public/js/custom.js"></script>
</body>
</html>
