<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ClinicBase">

  <meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<link rel="stylesheet" href="/css/style-reg.css">

  <title>Clinic Registration Form</title>
</head> 

<body> 
	<div class="main"> 
		<h1>Login Clinic</h1> 
		<form action=""> 
			<label for="email">Email:</label> 
			<input type="email" id="email"
				name="email"
				placeholder="Enter your clinic email" required> 

			<label for="password">Password:</label> 
			<input type="password" id="password"
				name="password"
				placeholder="Enter your password" required> 
			<span id="pass"></span> 
			<div class="wrap"> 
				<button type="submit" onclick="solve()"> 
				Submit 
				</button> 
			</div> 
		</form> 
	</div> 
	<script src="/js/script.js"></script> 
</body> 

</html>