<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/search.css">
  <title>Patient, Directory</title>
</head>
<body>
  <div class="container">
    <!-- <div class="search-container">
      <button class="button refresh-button">Refresh</button>
      <form id="search-form">
        <input type="text" class="search-bar" id="search-string" placeholder="Search...">
        <button class="button search-button" type="submit">Search</button>
      </form>
    </div> -->
    <h1>Search Patient</h1>
    <div class="search-container">
      <form id="search-form">
        <input type="text" id="search-string" placeholder="Search..."><br>
        <label><input type="radio" name="search-options" id="firstName" value="firstName">First Name</label>
        <label><input type="radio" name="search-options" id="lastName" value="lastName">Last Name</label>
        <label><input type="radio" name="search-options" id="occupation" value="occupation">occupation</label>
        <button class="button search-button" type="submit">Search</button>
      </form>
    </div>
    <div id="resultsContainer"></div>
    <div class="search-results" id="search-results">
      <!-- Results will be populated here -->
    </div>
  </div>
  <script src="/js/patients.js"></script>
</body>
</html>