<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/tiny-slider.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/flatpickr.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom-style.css"> <!-- Add your custom styles here -->
    <title>ClinicBase - Optometrist</title>
</head>

<body>
    <header>
        <h1>ClinicBase</h1>
        <div id="api_status"></div>

        <nav class="logout">
            <ul>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container mt-3 ml-3">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                     {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="container">
        <div class="employee-bar">
            <div>
                <h4 id="optom-info">Optometrist Name: {{ current_user.name }}</h4>
            </div>
        </div>

        <main>
            <section class="patient-status">
                <div class="unattended">
                    <button id="refreshButton">Refresh</button>
                    <h4>Patients Queue</h4>
                    <ul id="radio-button-list">
                        <!-- Patient search will be added dynamically -->
                    </ul><br>
                </div>
            </section>

            <section class="patient-info">
                <div class="patient-detail">
                    <div class="blank-detail">
                        <div id="responseContainer">
                            <!-- CRUD Success Message -->
                        </div>
                    </div>
                </div>

                <div class="patient-history">
                    <div class="employee-tab">
                        <button class="tablinks" onclick="openTab(event, 'histories')" id="defaultOpen">History</button>
                        <button class="tablinks" onclick="openTab(event,'examinations')">Examination</button>
                        <button class="tablinks" onclick="openTab(event,'tests')">Tests</button>
                        <button class="tablinks" onclick="openTab(event,'diagnoses')">Diagnosis</button>
                        <button class="tablinks" onclick="openTab(event,'drugs')">Medication</button>
                        <button class="tablinks" onclick="openTab(event,'lenses')">Lens Prescription</button>
                    </div>

                    <div class="nav-content">
                        <form id="medicalForm">
                            <div id="histories" class="tabcontent">
                                <h3>History</h3>
                                <!-- ... Other history fields ... -->
                            </div>

                            <div id="examinations" class="tabcontent">
                                <h3>Examination</h3>
                                <!-- ... Other examination fields ... -->
                            </div>

                            <div id="tests" class="tabcontent">
                                <h3>Tests</h3>
                                <!-- ... Other tests fields ... -->
                            </div>

                            <div id="diagnoses" class="tabcontent">
                                <h3>Diagnosis</h3>
                                <!-- ... Other diagnosis fields ... -->
                            </div>

                            <div id="drugs" class="tabcontent">
                                <h3>Medication</h3>
                                <!-- ... Medication fields ... -->
                            </div>

                            <div id="lenses" class="tabcontent">
                                <h3>Lens Prescription</h3>
                                <!-- ... Lens prescription fields ... -->
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section class="save-patient">
                <button id="newCaseButton">+New Case || Retrieve Case</button><br><br>
                <button id="saveCaseButton">Save</button><br><br>
                <button id="submitCaseButton">Submit</button><br><br>
                <button id="patientRecordButton">View Previous Cases</button><br>
                <div id="medicalRecordsContainer">
                    <!-- Patient medical records will be added dynamically -->
                </div>
            </section>
        </main>
    </div>

    <footer>
        <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> ClinicBase</p>
    </footer>

    <script src="optom.js"></script>
    <script src="js/custom-script.js"></script> <!-- Add your custom JavaScript file -->
</body>

</html>
